body{
    text-align: center;
    height: 100%;
    background-image: url("capa.jpgs");
    background-size: contain;
    background-repeat:repeat-y;
    border:5px;
    border-style: solid;
    border-color:black;
}
.header-container{
    border:3px;
    border-style: solid;
    border-color:blue;
}
.nav-bar-container{
    margin: auto 0;
    padding:12px 48px;
    border:3px;
    border-style: solid;
    border-color:green;
}
ul{
    list-style-type: none;
}

.nav-bar-itens{
    display: flex;
    justify-content: space-around;
    color:ghostwhite;
    border:3px;
    border-style: solid;
    border-color:red;
    
}

.hero-text{
    text-align: left;
    margin:auto 10%;
    font-size:24px ;
    border:3px;
    border-style: solid;
    border-color:yellow;
}
footer{
    border:3px;
    border-style: solid;
    border-color:yellow;
}

/* estilizar depois*/
.dropdown{
    position:relative;
    display: inline-block;
}

.dropdown-content {
    display:none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a{
    display:block;
  }

  .dropdown:hover .dropdown-content {display: block;}